
<div class="mat-elevation-z8" style="margin-right: 220px" *ngIf="listData.data.length!==0">

  <mat-table id="my-table" [dataSource]="listData" >
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef >Название</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="min_salary">
      <mat-header-cell *matHeaderCellDef  >Мин зарплата</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.min_salary }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="max_salary">
      <mat-header-cell *matHeaderCellDef  >Макс зарплата</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.max_salary }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <mat-header-cell  *matHeaderCellDef >
        <button   mat-raised-button (click)="openCreateDialog()">
          Создать
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"  >
        <a mat-icon-button color="primary" (click)="openEditDialog(element)">
          <mat-icon>edit</mat-icon>
        </a>
        <a mat-icon-button color="warn"  aria-label="123231" (click)="removeEmployee(element)">
          <mat-icon>delete</mat-icon>
        </a>
        <!--        <button mat-icon-button color="warn"-->
        <!--                (click)="removeEmployee(element)">-->
        <!--          <mat-icon>delete</mat-icon>-->
        <!--        </button>-->
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>


  </mat-table>

</div>
