<!--<section class="layout">-->

<!--  <aside class="sideBar" [class.expanded]="menuExpanded">-->
<!--    <nav class="wrap-nav">-->
<!--      <mat-selection-list [multiple]="false" role="list" style="padding: 0 !important;">-->

<!--        <mat-list-option role="listitem" class="list-item">-->
<!--          <a href="javascript:void(0)" (click)="menuExpanded = !menuExpanded">-->
<!--            <mat-icon>menu</mat-icon>-->
<!--            <span class="menu-text">Меню</span>-->
<!--          </a>-->
<!--        </mat-list-option>-->
<!--        <mat-list-option role="listitem" class="list-item">-->
<!--          <a routerLink="/region" routerLinkActive="active" title="Онлайн карта">-->
<!--            <mat-icon>map</mat-icon>-->
<!--            <span class="menu-text">Регионы</span>-->
<!--          </a>-->
<!--        </mat-list-option>-->
<!--        <mat-list-option role="listitem" class="list-item">-->
<!--          <a routerLink="/country" routerLinkActive="active" title="Таблица комплексов ФВФ">-->
<!--            <mat-icon>camera_alt</mat-icon>-->
<!--            <span class="menu-text">Страны</span>-->
<!--          </a>-->
<!--        </mat-list-option>-->

<!--        <mat-list-option role="listitem" class="list-item">-->
<!--          <a routerLink="/location" routerLinkActive="active" title="Поиск авто">-->
<!--            <mat-icon>directions_car</mat-icon>-->
<!--            <span class="menu-text">Адреса</span>-->
<!--          </a>-->
<!--        </mat-list-option>-->
<!--        <mat-list-option role="listitem" class="list-item">-->
<!--          <a routerLink="/job" routerLinkActive="active" title="Зоны">-->
<!--            <mat-icon>work_outline</mat-icon>-->
<!--            <span class="menu-text"> Работы </span>-->
<!--          </a>-->
<!--        </mat-list-option>-->
<!--        <mat-list-option role="listitem" class="list-item">-->
<!--          <a routerLink="/employee" routerLinkActive="active" title="Отчёты">-->
<!--            <mat-icon>people_alt</mat-icon>-->
<!--            <span class="menu-text">Рабочие</span>-->
<!--          </a>-->
<!--        </mat-list-option>-->

<!--        <mat-list-option role="listitem" class="list-item">-->
<!--          <a routerLink="/department" routerLinkActive="active" title="Отчеты по комплексам">-->
<!--            <mat-icon>dvr</mat-icon>-->
<!--            <span class="menu-text">Департменты</span>-->
<!--          </a>-->
<!--        </mat-list-option>-->
<!--        <mat-list-option role="listitem" class="list-item">-->
<!--          <a routerLink="/job-history" routerLinkActive="active" title="Тепловая карта">-->
<!--            <mat-icon>history</mat-icon>-->
<!--            <span class="menu-text">История работы</span>-->
<!--          </a>-->
<!--        </mat-list-option>-->

<!--      </mat-selection-list>-->

<!--      <mat-list style="padding: 0 !important;">-->
<!--        <mat-list-item role="listitem" class="list-item">-->

<!--        </mat-list-item>-->
<!--      </mat-list>-->
<!--    </nav>-->
<!--  </aside>-->
<!--  <div class="page">-->
<!--    <h3></h3>-->
<!--    <mat-tab-group>-->
<!--      <mat-tab label="First"> Content 1 </mat-tab>-->
<!--      <mat-tab label="Second"> Content 2 </mat-tab>-->
<!--      <mat-tab label="Third"> Content 3 </mat-tab>-->
<!--    </mat-tab-group>-->
<!--    <div class="content">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <h3 class="navbar-item">Project-name</h3>
    <a routerLink="/region" class="navbar-item"  routerLinkActive="active">region</a>
    <a routerLink="/country" class="navbar-item"  routerLinkActive="active">country</a>
    <a routerLink="/location" class="navbar-item"  routerLinkActive="active">location</a>
    <a routerLink="/job" class="navbar-item"  routerLinkActive="active">job</a>
    <a routerLink="/employee" class="navbar-item"  routerLinkActive="active">employee</a>
    <a routerLink="/department" class="navbar-item"  routerLinkActive="active">department</a>
    <a routerLink="/job-history" class="navbar-item"  routerLinkActive="active">job-history</a>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
