<div class="dialog">
  <h2 mat-dialog-title> {{header}}</h2>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Адрес" [(ngModel)]="street_address">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Почтовый код" [(ngModel)]="postal_code">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Город" [(ngModel)]="city">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Провинция" [(ngModel)]="state_province">
  </mat-form-field>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="onNoClick()">Отмена</button>
    <button mat-raised-button color="primary" (click)="onYesClick()">Сохранить</button>
  </div>
  <!--    <label *ngIf="message" class="error">{{message}}</label>-->


</div>
